* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #fafafa;
}

body {
  background-color: var(--background);
}

.home {
  display: flex;
  height: 20vh;
}

.books_wrapper {
  margin: auto;
  width: 80%;
}
