$whiteTwo: #e8e8e8;
$background: #fafafa;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $background;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8rem;
}

.books_wrapper {
  margin: auto;
  width: 80%;
  padding: 2.3rem 0;
  border-bottom: 1px solid $whiteTwo;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.button {
  color: #fff;
  border: none;
  background-color: #0290ff;
  border-radius: 3px;
  padding: 0.8rem 2rem;
}
